* {
    font-family: 'Open Sans', sans-serif;
}

.head-content {
    display: flex;
    align-items: center;
}

.head-content p {
    padding: 0.5em;
 }

 .perfil {
     height: 40px;
     border-radius: 50%;
 }

 .d1{ background-color: gray; }
 .d2{ background-color: gray; }
 .d3{ background-color:gray; }
 .d4{ background-color: gray; }
 .d5{ background-color: gray; }
 .d6{ background-color:gray ; }
 .d7{ background-color:gray; }
 .d8{ background-color:gray; }
 .d9{ background-color:gray; }


.appbox-container {
    width: 24px;
    height: 24px;
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.3em;
}

.body-content {
    text-align: center;
}

.google-logo {
    padding: 1em;
}


.input-container {
    
    border-style: solid;
    border-width: 1px;
    border-color: rgb(231, 229, 229);
    
     
}

 .input-centro {

    border-style: solid;
    border-color: rgb(231, 229, 229);
    border-width: 1px;
    border-radius: 24px;
    
    height: 2em;
    margin: 15px 50px 15px 50px;
 }


.inputbox {
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    
    height: 2em;
    margin: 15px;
    
    
}
.inputbox:focus {
    outline: none;
    
}


