*,
*::before,
*::after {
    box-sizing: border-box;
}
 hr{
     color: #70757a;
 }

body {
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 0;
}

p {
    margin: 10px;
}

a {
    text-decoration: none;
}

.head-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 30px;
}

.head-content p {
    padding: 0.5em;
 }

 .perfil {
     height: 40px;
     border-radius: 50%;
 }

 .d1{ background-color: gray; }
 .d2{ background-color: gray; }
 .d3{ background-color:gray; }
 .d4{ background-color: gray; }
 .d5{ background-color: gray; }
 .d6{ background-color:gray ; }
 .d7{ background-color:gray; }
 .d8{ background-color:gray; }
 .d9{ background-color:gray; }


.appbox-container {
    width: 24px;
    height: 24px;
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.3em;
}

.body-content {
    text-align: center;
}

.google-logo {
    padding: 1em;
}

.lupa {
    position: relative;
    left: 0.5em;
    top: 0.5em;
    width: 17px;
    height: auto;
}

.input-centro {
    position: relative;

    border-style: solid;
    border-color: rgb(231, 229, 229);
    border-width: 1px;
    border-radius: 24px;
    
    height: 3em;
    
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: transparent;
    max-width: 550px;
 }
 .input-centro:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
 }


.inputbox {
    position: relative;
    top: 3px;
    left: 1em;
    
    width: 84%;
    border-style: none;
    height: 80%;
    /* height: 2em;
    margin: 15px; */
    
    
}
.inputbox:focus {
    outline: none;
    
}

.piepagina-container {
    display: flex;
    justify-content: space-between;
}

.piepagina-izq {
    display: flex;
}
.piepagina-der {
    display: flex;    
}


.footer {
    background-color: #e5e8eb;
    color: #70757a;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%
    
}